
/* .loginmain{
    background-color: #1c1e21;
    color: white;
    min-height: 100vh;
} */


.walletimg{
    /* width: 30%; */
}

.lgnav{
    background-color: #303338;
}

.lgform{
    background-color: #303338;
}

/* @media only screen and (max-width: 600px) {
    .form {
      width: auto;
    }
  } */